<footer>
    <div class="cp">&copy; <a href="https://twitter.com/_suraj_sarangi" target="_blank">GreyKnight</a> , 2021</div>
    <div class="att">
        <small>
            Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </small>
    </div>
</footer>
</body>
</html>
