<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GGWP | <%= title %> </title>
  <link rel="shortcut icon" href="/controller2.svg" type="image/x-icon">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">GGWP Games</a></h1>
    <ul>
      <% if (user) { %>
        <li id="user">Welcome, <%= user.email.split("@")[0] %> </li>
        <li><a href="/logout" class="btn btn3">Logout</a></li>
      <% } else { %>
        <li><a href="/login" class="btn btn2">Login</a></li>
        <li><a href="/signup" class="btn">Signup</a></li>
      <% } %>   
    </ul>
  </nav>
  