<%- include('partials/header'); -%>

<ul class="games">
  <li class="game">
    <img src="/controller.svg" alt="controller game icon">
    <h4>Sleeping Dogs</h4>
    <p>Square Enix</p>
  </li>
  <li class="game">
    <img src="/controller.svg" alt="controller game icon">
    <h4>Valorant</h4>
    <p>Riot Games</p>
  </li>
  <li class="game">
    <img src="/controller.svg" alt="controller game icon">
    <h4>Assasin's Creed</h4>
    <p>Ubisoft</p>
  </li>
  <li class="game">
    <img src="/controller.svg" alt="controller game icon">
    <h4>The Witcher 3</h4>
    <p>CD Projekt Red</p>
  </li>
  <li class="game">
    <img src="/controller.svg" alt="controller game icon">
    <h4>GTA V</h4>
    <p>Rockstar Games</p>
  </li>
  <li class="game">
    <img src="/controller.svg" alt="controller game icon">
    <h4>FIFA 21</h4>
    <p>EA Sports</p>
  </li>
</ul>

<%- include('partials/footer'); -%>