<%- include('partials/header'); -%>

<header>
  <div class="joystick">
    <img src="/controller.svg" alt="joystick">
  </div>
  <div class="headings">
    <h2>Welcome to the Gaming Paradise</h2>
    <h3>Gamers, ASSEMBLE!</h3>
    <a href="/games" class="btn">View Games</a>
  </div>
</header>


<%- include('partials/footer'); -%>